{% extends "admin/challenges/create.html" %}

{% block header %}
    <div class="alert alert-secondary" role="alert">
        Docker challenge allows players to deploy their per-challenge standalone instances.
    </div>
{% endblock %}


{% block value %}
    <div class="form-group">
        <label for="value">Flag Template<br>
            <small class="form-text text-muted">
                The template used to generate the flag
            </small>
        </label>
        <input type="text" class="form-control" name="flag_template" placeholder="Enter a Jinja2 template" required>
    </div>
    <div class="form-group">
        <label for="value">Docker Image<br>
            <small class="form-text text-muted">
                The docker image used to deploy
            </small>
        </label>
        <input type="text" class="form-control" name="docker_image" placeholder="Enter docker image name" required>
    </div>
    <div class="form-group">
        <label for="value">Frp Redirect Type<br>
            <small class="form-text text-muted">
                Decide the redirect type how frp redirect traffic
            </small>
        </label>
        <select class="form-control" name="redirect_type">
            <option value="http" selected>HTTP</option>
            <option value="direct">Direct</option>
        </select>
    </div>
    <div class="form-group">
        <label for="value">Frp Redirect Port<br>
            <small class="form-text text-muted">
                Decide which port in the instance that frp should redirect traffic for
            </small>
        </label>
        <input type="number" class="form-control" name="redirect_port" placeholder="Enter the port you want to open"
               required>
    </div>
    <div class="form-group">
        <label for="value">Docker Container Memory Limit<br>
            <small class="form-text text-muted">
                The memory usage limit
            </small>
        </label>
        <input type="text" class="form-control" name="memory_limit" placeholder="Enter the memory limit" value="128m"
               required>
    </div>
    <div class="form-group">
        <label for="value">Docker Container CPU Limit<br>
            <small class="form-text text-muted">
                The CPU usage limit
            </small>
        </label>
        <input type="number" class="form-control" name="cpu_limit" placeholder="Enter the cpu limit" value="0.5"
               required>
    </div>
    <div class="form-group">
        <label for="value">Docker Init<br>
            <small class="form-text text-muted">
                Enable Docker init
            </small>
        </label>
        <input type="checkbox" name="init" value="false">
    </div>
    <div class="form-group">
        <label for="value">Privileged<br>
            <small class="form-text text-muted">
                Run container in privileged mode
            </small>
        </label>
        <input type="checkbox" name="privileged" value="false">
    </div>
{% endblock %}

{% block type %}
    <input type="hidden" value="docker" name="type" id="chaltype">
{% endblock %}
